.contactForm__title h2 {
    text-align: center;
    color: var(--white);
    font-size: 35px;
    padding-top: 40px;
    line-height: 120%;
    font-weight: bold;
}
@media screen and (max-width: 420px) {
    .contactForm__title h2 {
        font-size: 28px;
        padding-top: 10px;
    }
}