.mainBanner__info {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}
@media screen and (max-width: 420px) {
    .mainBanner__info {
        order: 2;
        flex-basis: 100%;
        padding-top: 50px;
    }
}