.features__info {
    flex-basis: 50%;
    padding-left: 100px;
    padding-top: 60px;
}
@media screen and (max-width: 375px) {
    .features__info {
        flex-basis: 100%;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
    }
    .features__info .subTitle {
        font-size: 25px;
    } 
}