.header__inner {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s ease-in;
}
@media screen and (max-width: 420px) {
    .header__inner {
        padding-top: 50px;
        padding-right: 40px;
        padding-left: 40px;
        box-sizing: border-box;
        padding-bottom: 20px;
    }
}