.sectionTitle__text {
    padding-top: 30px;
    text-align: center;
    width: 45%;
    margin: 0 auto;
}
@media screen and (max-width: 420px) {
    .sectionTitle__text {
        width: 100%;
        padding-right: 25px;
        padding-left: 25px;
    }
}