.mainBanner__buttons {
    padding-top: 30px;
}
@media screen and (max-width: 420px) {
    .mainBanner__buttons {
        display: flex;
        justify-content: center;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 15px;
    }
}